.contenido {
    width: 1024px;
    margin-left: 10%;
}

.bi-whatsapp {
    color: green;
}

.bi-twitter {
    color: #00acee;
}

.bi-instagram {
    color: #FF00FF;
}

.bi-facebook {
    color: #3b5998;
}

.bi-envelope-fill {
    color: #FF0000;
}

.img-fluid {
    height: 600px;
    width: 800px;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}